[Unit]
Description=Acheme Moi Java spring boot service
After=syslog.target

[Service]
User=root
Restart=always
ExecStart=/root/achetemoi-app.sh
ExecStop=/bin/pkill java

[Install]
WantedBy=local.target