# wiki.js custom service script
[Unit]
Description=wikijs Service
After=network.target
Wants=mongod.service

[Service]
Type=simple
User={{ wikijs_srv.user }}
Group={{ wikijs_srv.group }}
WorkingDirectory={{ wikijs_srv.path }}
ExecStart=/opt/wikijs.service.sh START
ExecStop=/opt/wikijs.service.sh STOP
Restart=on-failure
PIDFile=/var/run/wikijs.pid

[Install]
WantedBy=multi-user.target