
server {
    server_name {{ VIRTUAL_HOST_WIKI }};
    listen {{ NON_SSL_PORT }};
    access_log /var/log/nginx/access.log vhost;

    # Let's Encrypt override
    location /.well-known/acme-challenge {
      default_type "text/plain";
      root /usr/share/nginx/html/acme;
    }

    location / {
      proxy_set_header Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_http_version 1.1;

      root /usr/share/nginx/html/wozitech;

      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      proxy_next_upstream error timeout http_502 http_503 http_504;
    }
}
server {
      server_name {{ VIRTUAL_HOST_WIKI }};
      listen {{ SSL_PORT }} ssl http2;
      access_log /var/log/nginx/access.log vhost;

      ssl_session_tickets off;
      ssl_session_timeout 1d;
      ssl_session_cache shared:SSL:50m;

      ssl_protocols TLSv1.1 TLSv1.2;
      ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH EDH+aRSA !RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS";
      ssl_prefer_server_ciphers on;

      ssl_certificate /etc/nginx/certs//{{ wiki_external_domain }}/fullchain.pem;
      ssl_certificate_key /etc/nginx/certs/{{ wiki_external_domain }}/privkey.pem;

      # NOTE - the remote nexus host uses context root of "nexus" too!
      location /nexus {
        proxy_pass {{ REMOTE_NEXUS_URI }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto "https";
      }

      location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass {{ REMOTE_WIKI_URI }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_next_upstream error timeout http_502 http_503 http_504;
      }
}
