[Unit]
Description=wikijs CMS container service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a {{ wiki_srv.name }}
ExecStop=/usr/bin/docker stop -t 2 {{ wiki_srv.name }}

[Install]
WantedBy=local.target